name: Entur/Terraform/CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  verify-pr:
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/verify-pr.yml@v1

  test-lint-ok:
    name: Test Lint
    uses: ./.github/workflows/lint.yml
    with:
      directory: fixture/terraform
  test-lint-ok2:
    name: Test Lint .tools-version
    uses: ./.github/workflows/lint.yml
    with:
      directory: fixture/terraform_with_changes
  test-lint-with-warning-ok:
    name: Test Lint Passes with Warning
    uses: ./.github/workflows/lint.yml
    with:
      directory: fixture/terraform_with_warning

  verify-version:
    needs: test-lint-ok
    name: Verify Terraform Version
    runs-on: ubuntu-24.04
    steps:
      - uses: nick-fields/assert-action@v2
        with:
          expected: "1.8.3"
          actual: ${{ needs.test-lint-ok.outputs.version }}
  verify-version2:
    needs: test-lint-ok2
    name: Verify Terraform Version
    runs-on: ubuntu-24.04
    steps:
      - uses: nick-fields/assert-action@v2
        with:
          expected: "1.9.8"
          actual: ${{ needs.test-lint-ok2.outputs.version }}

  test-terraform-plan:
    name: Test Terraform Plan
    uses: ./.github/workflows/plan.yml
    with:
      directory: fixture/terraform
      environment: dev
    secrets: inherit

  test-terraform-apply:
    name: Test Terraform Apply
    uses: ./.github/workflows/apply.yml
    needs: test-terraform-plan
    with:
      directory: fixture/terraform
      environment: dev
    secrets: inherit

  test-terraform-plan-changes:
    needs: test-terraform-apply
    name: Test Terraform Plan with Changes
    uses: ./.github/workflows/plan.yml
    with:
      directory: fixture/terraform_with_changes
      version: 1.9.8
      environment: dev
    secrets: inherit

  test-terraform-apply-changes:
    needs: test-terraform-plan-changes
    name: Test Terraform Apply with Changes
    uses: ./.github/workflows/apply.yml
    with:
      directory: fixture/terraform_with_changes
      version: 1.9.8
      environment: dev
    secrets: inherit

  update-lint-doc:
    name: Update Lint Documentation
    needs: test-terraform-apply-changes
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1
    with:
      workflow_file: .github/workflows/lint.yml
      readme_file: README-lint.md
  update-plan-doc:
    name: Update Plan Documentation
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1
    needs: [update-lint-doc]
    with:
      workflow_file: .github/workflows/plan.yml
      readme_file: README-plan.md
  update-apply-doc:
    name: Update Apply Documentation
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1
    needs: [update-plan-doc, test-terraform-plan]
    with:
      workflow_file: .github/workflows/apply.yml
      readme_file: README-apply.md
